Options All -Indexes
RewriteEngine On
RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?ruta=$1
#RewriteCond %{ENV:HTTPS} !on [NC]
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ http://localhost/boda/$1 [R=301,L,NE]